anyio==4.9.0
appdirs==1.4.4
atomicwrites==1.4.0
cryptography==43.0.3
cssutils==2.11.1
dashscope==1.23.3
docx2pdf==0.1.8
docx2txt==0.9
google-auth==2.40.1
google-genai==1.16.1
httpx==0.28.1
imbox==0.9.8
jiter==0.10.0
jsonpointer==2.1
lxml==5.3.0 --only-binary=lxml
matplotlib==3.9.2
openai==1.79.0
opencv-python==4.11.0.86
premailer==3.10.0
protobuf==4.25.3
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
PyMuPDF==1.25.5
PyPDF2==3.0.1
PyQt5==5.15.10
PyQtWebEngine==5.15.6
python-docx==1.1.2
python-pptx==1.0.2
rsa==4.9.1
schedule==1.2.2
setuptools==75.1.0
sympy==1.13.1
torchvision==0.21.0
volcengine-python-sdk==3.0.2
websockets==15.0.1
wheel==0.44.0
XlsxWriter==3.2.2
yagmail==0.15.293
zhipuai==2.1.5.20250421
